.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #898787;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #222;
  color: #f8f8f8;
  font-size: 6vh;
  box-shadow: 0px 4px 4vh 4px rgba(34,34,34,0.9);
  z-index: 2;
}

.App-react {
  color: #00d8ff;
  text-decoration: overline underline;
}

.App-logo {
  max-height: 30vh;
  max-width: 30vh;
}

.App-instructions {
  background-color: #f8f8f8;
  color: #222;
  font-size: 3vh;
  line-height: 1.5;
  padding: 0 1em;
}

.App-instructions code {
  background-color: #222;
  color: #00d8ff;
  padding: .2em .3em;
  border-radius: .2em;
}

ul {
    list-style:none;
}

.example {
    padding-top:20px;
    display:inline-block;
}

.react-autosuggest__suggestions-list {
    width:300px;
    margin:auto;
    padding:0px;
}

.react-autosuggest__suggestion {
    height:42px;
}

.react-autosuggest__input {
    margin-bottom:1px;
    width:400px;
}

.playerSuggestion {
    width:300px;
    height:41px;
    border-style:outset;
    display:inline-block;
    text-align:left;
}

.playerSuggestionThumbnail {
    height:35px;
    margin-right: 5px;
    float:left;
    position:relative;
    top:-2px;
}

.playerSuggestionName {
    font-size:26px;
    font-weight:bold;
    position:relative;
    top:-8px;
    margin-bottom:2px;
    height:26px;
}

.playerSuggestionDescription {
    position:relative;
    top:-8px;
    font-size:12px;
    margin-bottom:1px;
}

img.player_left {
    width:300px;
    padding-top:5px;
    position:relative;
    right:0px;
    z-index:0;
}

img.player {
    width:300px;
    padding-top:5px;
    position:relative;
    left:0px;
    z-index:0;
}

body {
    font-family: 'Calluna-Regular', serif;
}
